* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100svh;
  width: 100vw;
  overflow: hidden;
}

main {
  background-color: black;
  height: 80svh;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  animation: mainanima 10s linear infinite;
  box-shadow: inset 0 -10px 5px black;}

@keyframes mainanima {
  from{
    transform: translateY(-50%) translateX(0) translateZ(0);
  }
  to {
    transform: translateY(-50%) translateX(-50%) translateZ(0);

  }
  
}

.cont {
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 -10px 5px black;
}



.item {
  width: clamp(180px, 100%, 250px);
  aspect-ratio: 1/1;
  padding: 0.1em;
  transition: transform 0.7s;
  transform: scale(0.5);
  cursor: pointer;
}

.item:hover {
  transform: scale(1) translateZ(0);
}

.elementCont {
  clip-path: inset(40px);
  transition: clip-path 0.5s, background-color 0.5s, border-radius 0.5s;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(180px, 30vw, 250px);
  aspect-ratio: 1/1;
  align-self: center; 
}

.elementCont:hover {
  clip-path: inset(0%);
  background-color: greenyellow;
  /* border-radius: 50%; */
}

.preloadcont {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 999;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinner {
  margin: 1em;
  border-radius: 50%;
  border: solid 5px rgb(88, 88, 88);
  border-top: 5px solid greenyellow;
  height: 100px;
  width: 100px;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hideLoadScrenn {
  display: none;
}

.percent {
  font-family: arial;
  font-size: 1em;
}
